{% extends 'base.html' %}
{% block title %}
    Notifications
{% endblock title %}
{% block content %}
    <div class="container mt-5">
        <div class="text-center">
            <h1>Notifications</h1>
        </div>
        <ol class="list-group mt-5">
            {% for notif in notifications %}
                {% if notif['type'] == 'medicalReport' %}
                    <a href="/reports/medical/{{notif['report']['_id']}}" class="list-group-item list-group-item-action list-group-item-success">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{notif['report']['heading']}}</h5>
                            <small class="text-muted">{{notif['report']['date']}}</small>
                        </div>
                    </a>
                {% else %}
                    <a href="/reports/lab/{{notif['report']['_id']}}" class="list-group-item list-group-item-action list-group-item-warning">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{notif['report']['heading']}}</h5>
                            <small class="text-muted">{{notif['report']['date']}}</small>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
{% endblock content %}