{% extends 'base.html' %}
{% block title %}
    All Blogs
{% endblock title %}
{% block content %}
    <div class="container mt-5">
        <div class="text-center">
            <h1>Blogs Written By You</h1>
        </div>
        <div class="blogs">
            {% for blog in blogs %}
            <div class="card">
                <h5 class="card-header">On: {{blog['on']}}</h5>
                <div class="card-body">
                    <h5 class="card-title">{{blog['heading']}}</h5>
                    <p class="card-text">{{blog['content'][:50]}}</p>
                    <a href="/blogs/{{blog['_id']}}" class="btn btn-primary">Open</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}