{% extends 'base.html' %}
{% block title %}
    User Home
{% endblock title %}
{% block content %}
    <div class="container mt-5">
        <div class="text-center">
            <h1>Welcome {{ user.name }}</h1>
            <div class="buttons">
                <a href="/settings"><button class="btn btn-warning">Settings</button></a>
                <a href="/logout"><button class="btn btn-danger">Logout</button></a>
            </div>
        </div>
        <div class="cards mt-5">
            <div class="user-card">
                <img src="/static/img/doctor.png" alt="" class="user-card-image">
                <div class="user-card-content">
                    <h3 class="user-card-title">Doctors</h3>
                </div>
            </div>
            <div class="user-card">
                <img src="/static/img/health-report.png" alt="" class="user-card-image">
                <div class="user-card-content">
                    <h3 class="user-card-title">Med. Reports</h3>
                </div>
            </div>
            <div class="user-card">
                <img src="/static/img/lab-report.png" alt="" class="user-card-image">
                <div class="user-card-content">
                    <h3 class="user-card-title">Lab Reports</h3>
                </div>
            </div>
            <div class="user-card">
                <img src="/static/img/family.png" alt="" class="user-card-image">
                <div class="user-card-content">
                    <h3 class="user-card-title">Families</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}